/* fonts */

@font-face {
    font-family: ListenAgainReg;
    src: url("font/SpaceGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: ListenAgainBold;
    src: url("font/SpaceGrotesk-Regular.otf") format("opentype");
}


html, body {
  /* background-color: #433F81; */
  /* background-color: #2e2a6a; */
  background-color: black;
  /* margin-top: 50px; */
}

html {
  /* background-image: url('images/earbackground.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#poster {
  animation: shadow-fade 3s infinite;
  width: 80vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@keyframes shadow-fade {
  0% {
    box-shadow: 0 2px 47px 4px rgba(150, 61, 61, 0.3), inset 0 0 14px 4px rgba(0,0,0,1);;
    transform:skewX(-5deg);
  }
  50% {
    box-shadow: 0 2px 47px 4px rgba(150, 61, 61, 1), inset 0 0 14px 4px rgba(0,0,0,1);;
    transform:skewX(5deg);
  }
  100% {
    box-shadow: 0 2px 47px 4px rgba(150, 61, 61, 0.3), inset 0 0 14px 4px rgba(0,0,0,1);;
    transform:skewX(-5deg);
  }
}

@keyframes shadow-fade-no-inset {
  0% {
    box-shadow: 0 2px 47px 4px rgba(150, 61, 61, 0.3);
    transform:skewX(-1deg);
  }
  50% {
    box-shadow: 0 2px 47px 4px rgba(150, 61, 61, 1);
    transform:skewX(1deg);
  }
  100% {
    box-shadow: 0 2px 47px 4px rgba(150, 61, 61, 0.3);
    transform:skewX(-1deg);
  }
}

.infoContainer .column {
  border: 1px rgba(150, 61, 61, 1) solid;
  padding: 2% 5%;
}

.block {
  padding: 10px 0;
  margin: 5px 0;
  cursor: pointer;
}

.block p {
  margin: 0;
}

.info {
  /* position: absolute; */
  /* background-color: #1c1a3f; */
  /* background-color: #2e2a6a; */
  /* background-color: #181636; */
  background-color:  #13112B;
  display: none;
  /* max-height: 600px; */
  /* max-width: 75vw; */
  padding: 2% 5%;
  /* border: 1px white solid; */
  margin-top: 30px;
  animation: shadow-fade-no-inset 3s infinite;
  position: fixed;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  overflow-x: scroll;
  z-index: 99;
}

@media screen and (min-width: 992px) {
   .info {
      position: relative !important;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      margin-bottom: 30px;
  }
}

.close {
  position: absolute;
  top:-10px;
  right: 20px;
  cursor: pointer;
}

.showInfo {
  display: block !important;
  animation: shadow-fade-no-inset 3s infinite;
}

#container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#spacer {
  height: 110vh;
}

.image {
  width: 100%;
  height: auto;
  margin-top: 20px;
}


/* text */

h1, h2, h3, h4, h5, p {
  /* color: #963d3d; */
  /* color: #433F81; */
  color: #a11814;
}

h3 {
  font-size: 1.8em;
}

p {
  font-size: 1.5em;
  font-family: ListenAgainReg;
}

h1, h2, h3 {
  font-family: ListenAgainBold;
}

h4, h5 {
  font-family: ListenAgainReg;
}

h1 {
  font-size: 4em;
}

h4 {
  font-size: 1.6em;
  font-weight: 500;
}

.text-centre {
  text-align: center;
}

.textRight {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

#title {
  position: absolute;
  top: 160px;
  left: 15%;
  animation: shadow-fade 3s infinite;
  padding: 1%
}

.promo {
  left: 40% !important;
  font-size: 1em !important;
}

#subheading {
  position: absolute;
  top: 480px;
  right: 10%;
}

@media screen and (min-width: 992px) {
  #title {
    top: 15%;
  }
  #subheading {
    top: 50%;
  }
  footer {
    padding-left: 4%;
    position: absolute;
  }

}



#map {
  width: 100%;
  height: 400px;
  display: none;
  /* position: fixed; */
  /* position: absolute; */
  /* top: 300px;
  right: -400px;
  z-index: 9; */
}

.show {
  display: block !important;
}

#map iframe {
  width: 100%;
  height: 100%;
}

.local {
  cursor: pointer;
}

#bpmContainer {
  position: absolute;
  top: 5%;
  right: 10%;
  border: 1px solid rgba(150, 61, 61, 0.8);
  box-shadow: inset 0 0 14px 4px rgba(0,0,0,1);;
  padding: 1em;
  width: 150px;
  text-align: center;
}

#bpmContainer p {
    margin: 0;
}

#add {
  cursor: pointer;
  font-weight: 800;
  font-size: 1.5em;
}


#minus {
  cursor: pointer;
  font-weight: 800;
  font-size: 1.5em;
}

.strobe #strobeContainer{
  animation: strobeit 0.1s infinite linear;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.strobe canvas {
    animation: strobeItCanvas 2s infinite ease;
}

@keyframes strobeit {
  0% 100% {
    background-color: black
  }
  50% {
    /* background-color: #963d3d; */
    background-color: #a11814;
  }

}

@keyframes strobeItText {
  0% 100% {
    color: #963d3d;
  }
  50% {
    color: black;
  }
}

@keyframes strobeItCanvas {
  0% 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* LOADING */

#loading {
  background-color: black;
  position: fixed;
  z-index: 109;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
}

#loadingText {
  position: fixed;
  top: 30%;
  width: 100%;
  text-align: center;
}
